# for pip to install all needed
# called with 'pip install -r requirements.txt'
pyyaml

# for documentation generating
mkdocs

# for develope only
pytest
pytest-cov
flake8==4.0.1
pytest-flake8
pytest-flakes
pytest-randomly
