# requirements.txt (complete dependencies)
# for venv all needed dependencies
-r requirements-runtime.txt

# for documentation generating
mkdocs

# for develope only
pytest
pytest-cov
flake8==6.1.0
pytest-randomly
