name: pytest

on: [push, pull_request]

jobs:
  build:

    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest]
        python-version: [3.5, 3.6, 3.7]
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{matrix.python-version}} at ${{matrix.os}}
      uses: actions/setup-python@v1
      with:
        python-version: ${{matrix.python-version}}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        mkdir log/
    - name: Test with pytest
      run: |
        pytest -c 'test/pytest.ini'
    - name: Save artifacts
      uses: actions/upload-artifact@master
      with:
        name: test.log
        path: log/test.log
